- name: Install Docker (Debian/Ubuntu)
  ansible.builtin.apt:
    name:
      - docker.io
      - docker-compose-plugin
    state: present
    update_cache: true

- name: Ensure docker service is running
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true


